<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SwaraQ - Aplikasi pemungutan suara berbasis Blockchain </title>
    <link href="../../app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../app/stylesheets/app.css" rel="stylesheet">

    <!-- Animated -->

    <!-- Custom styles for this template -->
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../app/login/docs/jsQR.js"></script>
	<script src="http://localhost:3000/main.js"></script>
</head>
<body>
  
  {{{body}}}

  <br>
  <!-- Footer -->
  <footer class="py-3">
    <div class="container">
      <div class="navbar navbar-expand-md" style="margin-left: 2cm">
        <img alt="Avatar" class="avatar" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
        <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 1em">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item2" style="list-style-type:none;">
              <a class="lead" style= "color: white">SwaraQ</a>
            </li>
            <li class="nav-item3" style="margin-left: 1em" style="margin-right: 1em;" style="list-style-type:none;">
              <img alt="Avatar" class="barvertical" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbS9RXLpjrbU_xB3xP3DNL97uU7RAbaDwDOnpwzPyxPEjo7Z8irQ">
            </li>
            <li class="naving" style="list-style-type:none;">
              <a class="nav-link">Aplikasi pemungutan suara berbasis Blockchain</a>
            </li>
          </ul>
          <span class="navbar-text" style="margin-right: 2cm">
            swaraq.kpu.gov.id
          </span>
          </div>
        </div>
      </div>
  </footer>
  </div>
</body>

</html>
